body {
    margin: 60px auto;
    width: 70%;
    max-width: 1000px;
}
ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    text-align: center;
}
ul li{
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(47, 84, 163);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
author {
    font-size: 1.0em;
}
links {
    font-size: 1.2em;
    font-weight: bold;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
